body {}

img {}

.article {
    background-color: lightblue;
    max-width: 1024px;
}

.intro {
    background-color: lightgreen;
    max-width: 1024px;
}

.content {
    /* background-color: yellow; */
    max-width: 1024px;
}

.section {
    /* background-color: green; */
    max-width: 300px;
    float: left
}