body {
    background-color: lightyellow;
    font-family: Arial, Verdana, sans-serif;
}

img {
    width: 280px;
    padding-top: 20px;
    padding-left: 10px;
}

.article {
    width: 1024px;
    margin: 5px auto;
}

.intro {
    max-width: 1024px;
    font-weight: bold;
    padding: 5px 20px;
    /*
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px; 
    padding-left: 20px;
    */
    text-align: justify;
}

.content {
    /* background-color: yellow; */
    max-width: 1024px;
}

.section {
    /* background-color: green; */
    max-width: 300px;
    float: left;
    margin: 20px;
}

h1 {
    color: orange;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #999;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: orange;
}


/* link: https://www.w3schools.com/cssref/sel_hover.asp */

a:hover {
    text-decoration: underline;
    font-weight: normal;
}

p {
    text-align: justify;
}